@import './tailwind.css';
@import './fonts.css';


a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SFUIDisplay;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-rendering: smoothing;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: inherit;
}

